<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.game.mapper.game.UserKunPoolMapper">
  <resultMap id="BaseResultMap" type="com.qs.game.model.game.UserKunPool">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="is_run" jdbcType="INTEGER" property="isRun" />
    <result column="run_time" jdbcType="INTEGER" property="runTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mid, type, position, is_run, run_time, ext1, ext2, ext3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_kun_pool
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_kun_pool
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qs.game.model.game.UserKunPool">
    insert into user_kun_pool (id, mid, type, 
      position, is_run, run_time, 
      ext1, ext2, ext3)
    values (#{id,jdbcType=BIGINT}, #{mid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{position,jdbcType=INTEGER}, #{isRun,jdbcType=INTEGER}, #{runTime,jdbcType=INTEGER}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qs.game.model.game.UserKunPool">
    insert into user_kun_pool
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="isRun != null">
        is_run,
      </if>
      <if test="runTime != null">
        run_time,
      </if>
      <if test="ext1 != null">
        ext1,
      </if>
      <if test="ext2 != null">
        ext2,
      </if>
      <if test="ext3 != null">
        ext3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=INTEGER},
      </if>
      <if test="isRun != null">
        #{isRun,jdbcType=INTEGER},
      </if>
      <if test="runTime != null">
        #{runTime,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qs.game.model.game.UserKunPool">
    update user_kun_pool
    <set>
      <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="isRun != null">
        is_run = #{isRun,jdbcType=INTEGER},
      </if>
      <if test="runTime != null">
        run_time = #{runTime,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qs.game.model.game.UserKunPool">
    update user_kun_pool
    set mid = #{mid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      is_run = #{isRun,jdbcType=INTEGER},
      run_time = #{runTime,jdbcType=INTEGER},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryListByMid" parameterType="integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_kun_pool
    where mid = #{mid,jdbcType=BIGINT}
  </select>

</mapper>